@model Gnexx.Services.UserIdentity.SaveUserVM
@{
    ViewData["Title"] = "Gnexx | Registro";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<form action="" method="post">
    <div class="heading">
        <h2>Regístrate</h2>
        <p>Llena todos los campos para registrarte, o ¿Tienes una cuenta? <a asp-controller="Auth" asp-action="Index">¡Inicia sesión!</a></p>
    </div>
    @{
        if (@Model.HasError)
        {
            <h5>@Model.Error</h5>
        }
    }
    <div class="form-fields">
        <div style="display: flex; justify-content: center; align-items: flex-start; gap: 16px; align-self: stretch;">
            <div class="input-data">
                <input type="text" asp-for="Firstname" name="Firstname" id="name" autofocus="" required="">
                <div class="underline"></div>
                <label ASP-for="Firstname">Nombre(s)</label>
                <span asp-validation-for="Firstname"></span>
            </div>

            <div class="input-data">
                <input type="text" asp-for="Lastname" name="Lastname" id="lastname" autofocus="" required="">
                <div class="underline"></div>
                <label ASP-for="Lastname">Apellido(s)</label>
                <span asp-validation-for="Lastname"></span>
            </div>
        </div>

        <div class="input-data">
            <input type="email" asp-for="Email" name="Email" id="email" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="Email">Correo electronico</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input-data">
            <input type="text" asp-for="Username" name="Username" id="username" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="Username">Nombre de usuario</label>
            <span asp-validation-for="Username"></span>
        </div>

        <div class="input-data">
            <input type="number" asp-for="PhoneNumber" name="PhoneNumber" id="phonenumber" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="PhoneNumber">Número de teléfono (Sin guiones)</label>
            <span asp-validation-for="PhoneNumber"></span>
        </div>

        <div class="input-data">
            <input type="password" asp-for="Password" name="Password" id="password" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="Password">Contraseña</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input-data">
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" id="confirmpassword" autofocus="" required="">
            <div class="underline"></div>
            <label ASP-for="ConfirmPassword">Confirmar contraseña</label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="input-data">
            <select  asp-for="Rol">
                <option value="">--- Seleccione una opción ---</option>
                @{
                    foreach (var item in ViewBag.Rol)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
        
    </div>

    <button type="submit" asp-controller="Auth" asp-action="register">Registrarme</button>
</form>

@*<div class="auth-main">
    <div class="heading">
        <img src="~/assets/img/register-logo.png" alt="#">
        <a asp-controller="Auth" asp-action="Index">Cancelar</a>
    </div>
   

    <div class="form-container" id="loginsect">
        
    
    <form asp-controller="Auth" asp-action="Register" method="post">
            <div class="section-register" id="seccion1">
                <h1><span>Inicia sesión</span> para continuar</h1>
                <div class="form-fields" style="gap: 18px;">
                    <button type="button" onclick="mostrarSeccion('seccion2')">Empezar Registro</button>
                    <p style="color: white;">Tambien puedes</p>
                    <a href="#" class="button-register">Continuar con google</a>
                </div>
                <div class="auth-option">
                    Ya estas registrado? <a href="index.html">Inicia Sesión</a>
                </div>
            </div>

            <div class="section-register" id="seccion2">
                @{
                    if (@Model.HasError)
                    {
                        <h5>@Model.Error</h5>
                    }
                }
                <div class="form-fields" style="gap: 18px;">
                    <div class="fields">
                        <div class="input-label">
                            <label ASP-for="Firstname">Nombre</label>
                            <input type="text" asp-for="Firstname" name="Firstname" id="name">
                            <span asp-validation-for="Firstname"></span>
                        </div>
                        <div class="input-label">
                            <label ASP-for="Lastname">Apellido</label>
                            <input type="text" asp-for="Lastname" name="Lastname" id="name">
                            <span asp-validation-for="Lastname"></span>
                        </div>
                        <div class="input-label">
                            <label ASP-for="Email">Email</label>
                            <input type="email" asp-for="Email" name="Email" id="name">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input-label">
                            <label ASP-for="Username">Nombre de Usuario</label>
                            <input type="text" asp-for="Username" name="Username" id="name">
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="button-options">
                        <button type="button" onclick="mostrarSeccion('seccion1')">Anterior</button>
                        <button type="button" onclick="mostrarSeccion('seccion3')">Siguiente</button>
                    </div>

                </div>
                <div class="auth-option">
                    Ya estas registrado? <a href="index.html">Inicia Sesión</a>
                </div>
            </div>

            <div class="section-register" id="seccion3">
                <div class="form-fields" style="gap: 18px;">
                    <div class="fields">
                        <div class="input-label">
                            <label ASP-for="PhoneNumber">Telefono</label>
                            <input type="number" asp-for="PhoneNumber" name="PhoneNumber" id="name">
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                        <div class="input-label">
                            <label ASP-for="ConfirmPassword">Contraseña</label>
                            <input type="password" asp-for="Password" name="Password" id="name">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="input-label">
                            <label ASP-for="ConfirmPassword">Confirmar contraseña</label>
                            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" id="name">
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Rol, "Rol", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Rol, ViewBag.Rol as SelectList, "-- Selecciona un rol --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="button-options">
                        <button type="button" onclick="mostrarSeccion('seccion2')">Anterior</button>
                        <button type="submit" asp-controller="Auth" asp-action="register">Registrarte</button>
                    </div>
                    <div class="auth-option">
                        Ya estas registrado? <a href="index.html">Inicia Sesión</a>
                    </div>
                </div>
                <div class="auth-option">
                    Ya estas registrado? <a href="index.html">Inicia Sesión</a>
                </div>
            </div>
        </form>
    </div>

</div>
<img src="~/assets/img/auth-background-imagen.png" alt="background imagen">
*@